.header {
	-fx-text-fill: white;
	-fx-letter-spacing: 10px;
	-fx-alignment: center;
}
.footer {
	-fx-text-fill: rgba(255,255,255,0.6);
}
.name-text-field {
	-fx-background-color: transparent;
	-fx-prompt-text-fill: lightgray;
	-fx-text-fill: white;
	-fx-border-width: 3px;
	-fx-border-color: white;
	-fx-border-radius: 10px;
	-fx-padding: 18px;
}
.paragraph {
	-fx-text-fill: white;
}

.col1 {
	-fx-min-width: 90px;
	-fx-max-width: 90px;
	-fx-text-fill: white;
}
.col2 {
	-fx-min-width: 350px;
	-fx-max-width: 350px;
	-fx-text-fill: white;
}
.col3 {
	-fx-min-width: 150px;
	-fx-max-width: 150px;
	-fx-text-fill: white;
}
.empty-content {
	-fx-text-fill: rgba(255,255,255,0.7);
}
.table-row {
	-fx-padding: 6px 0;
}